/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Abel);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #1d71b8;
$headingColor: #1d71b8;

$mainFontSize: 38px;
$mainFont: 'Abel', Helvetica, sans-serif;
$headingFont: 'Abel', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

.highlight {
  color: #b81d71;
}

html.layered div.slide-background.present {
	background-image: url("/images/overlay.png"), url("/images/clouds.jpg");
	background-position: top-left, top-center;
	background-repeat: repeat, no-repeat;
	background-size: auto, cover;
}

html.text div.slide-background.present {
  background-image: url("/images/clipped-16x9-fill.svg"), url("/images/overlay.png"), url("/images/clouds.jpg");
  background-position: top-center, top-left, top-center;
  background-repeat: no-repeat, repeat, no-repeat;
  background-size: 95%, auto, cover;
}

html.drawing div.slide-background.present {
  background-image: url("/images/clipped-16x9-nofill.svg"), url("/images/drawing.jpg");
  background-position: top-center, top-center;
  background-repeat: no-repeat, no-repeat;
  background-size: 95%, 93.5%;
}

html.skinner div.slide-background.present {
  background-image: url("/images/clipped-16x9-nofill.svg"), url("/images/skinner.jpg");
  background-position: top-center, top-center;
  background-repeat: no-repeat, no-repeat;
  background-size: 95%, 93.5%;
}


html.blackswan div.slide-background.present {
  background-image: url("/images/clipped-16x9-nofill.svg"), url("/images/blackswan.jpg");
  background-position: top-center, top-center;
  background-repeat: no-repeat, no-repeat;
  background-size: 95%, 93.5%;
}

html.discounting div.slide-background.present {
  background-image: url("/images/clipped-16x9-nofill.svg"), url("/images/discounting.png");
  background-position: top-center, top-center;
  background-repeat: no-repeat, no-repeat;
  background-size: 95%, 93.5%;
}

html.nonzero div.slide-background.present {
  background-image: url("/images/clipped-16x9-nofill.svg"), url("/images/nonzero.jpg");
  background-position: top-center, top-center;
  background-repeat: no-repeat, no-repeat;
  background-size: 95%, 93.5%;
}

html.scarcity div.slide-background.present {
  background-image: url("/images/clipped-16x9-nofill.svg"), url("/images/scarcity.jpg");
  background-position: top-center, top-center;
  background-repeat: no-repeat, no-repeat;
  background-size: 95%, 93.5%;
}

html.ravens div.slide-background.present {
  background-image: url("/images/clipped-16x9-nofill.svg"), url("/images/ravensprogressivematrices.png");
  background-position: top-center, top-center;
  background-repeat: no-repeat, no-repeat;
  background-size: 95%, 93.5%;
}

html.holacracy div.slide-background.present {
  background-image: url("/images/clipped-16x9-nofill.svg"), url("/images/holocracy.jpg");
  background-position: top-center, top-center;
  background-repeat: no-repeat, no-repeat;
  background-size: 95%, 93.5%;
}

html.surprised div.slide-background.present {
  background-image: url("/images/clipped-16x9-nofill.svg"), url("/images/surprised.jpg");
  background-position: top-center, top-center;
  background-repeat: no-repeat, no-repeat;
  background-size: 95%, 93.5%;
}

html.social div.slide-background.present {
  background-image: url("/images/clipped-16x9-nofill.svg"), url("/images/social.jpg");
  background-position: top-center, top-center;
  background-repeat: no-repeat, no-repeat;
  background-size: 95%, 93.5%;
}

html.kidsarealright div.slide-background.present {
  background-image: url("/images/clipped-16x9-nofill.svg"), url("/images/thekidsarealright.jpg");
  background-position: top-center, top-center;
  background-repeat: no-repeat, no-repeat;
  background-size: 95%, 93.5%;
}

html.mlkjr div.slide-background.present {
  background-image: url("/images/clipped-16x9-nofill.svg"), url("/images/mlkjr.jpg");
  background-position: top-center, top-center;
  background-repeat: no-repeat, no-repeat;
  background-size: 95%, 93.5%;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


.logo-box {
  color: white;
}

div.logo-box {
  padding-top: 1em;
  padding-bottom: 1em;
}

div.logo-box h2, div.logo-box a {
  font-family: Lato;
  font-weight: normal;
  letter-spacing: 0.1em;
}

div.logo-box h2 {
  color: white;
}